@font-face { // Font for symbols
    font-family: 'Symbols Nerd Font';
    src: url('../assets/fonts/symbolsNerdFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face { // Main font
    font-family: 'iMWriting Nerd Font';
    src: url('../assets/fonts/iMWritingMonoNerdFont-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}